<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Main page</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link type="text/css" rel="stylesheet" href="main.css"/>

    <style>
        tr {
            background-color: aqua;
            border: lightgray;
            border-radius: 5px;
        }
    </style>

</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li th:if="${userName == null}" class="nav-item active">
                    <a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
                </li>
                <li th:if="${userName == null}" class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <form th:if="${!(userName == null)}" th:action="@{/logout}" method="post">
                    <li class="nav-item logout">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </form>

            </ul>
        </div>

        <div class="navbar navbar-expand-lg navbar-light bg-light">
            <h3 class="navbar-nav" th:text="'Hello, ' + ${userName}"></h3>
        </div>
    </nav>

</header>


<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Twitterinio</h1>
            <p class="lead text-muted">Twitter like project realized during Java KRK 22 Course by KrystianU and
                Dymski.</p>
        </div>
    </section>
    <section>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body">
                                <h4 class="card-text">Friends list</h4>
                                <div>
                                    <form method="get" th:action="@{/searchUser}">
                                        <input class="form-control" type="text" placeholder="Search for a friend"
                                               th:name="query" th:required="required">
                                        <div class="d-flex flex-row-reverse">
                                            <button type="button submit" class="btn btn-primary btn-sm m-2">Search
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body">
                                <h4 class="card-text">Add post</h4>
                                <form method="post" th:action="@{/addPost}" th:object="${newMessage}">
                                <textarea class="form-control d-flex" aria-label="With textarea" id="inputMessage"
                                          placeholder="Share your thoughts here..." th:required="required"
                                          th:name="messageText"></textarea>
                                    <div class="d-flex flex-row-reverse">
                                        <button type="button submit" class="btn btn-success btn-sm m-2">Post</button>
                                    </div>
                                </form>
                                <h4 class="card-text">Users posts:</h4>
                                <table class="table">
                                    <tr th:each="posts : ${messagesList}" th:object="${posts}"
                                        th:if="${posts.getCommentID() == 0}">
                                        <hr class="bs-docs-separator">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1" th:type="text"
                                                th:text="${posts.getName()+':'}"></h5>
                                            <small th:type="text"
                                                   th:text="${posts.getMessageDate()}"></small>
                                        </div>
                                        <small class="mb-1" th:type="text" th:text="${posts.messageText}"></small>
                                        </p>
                                        <div class="d-flex flex-row-reverse">
                                            <form th:if="${userId == posts.getUserId()}" th:action="@{/deleteMessage}"
                                                  method="post" th:object="${posts}">
                                                <input type="hidden" name="messageID" th:value="${posts.messageID}">
                                                <button class="btn btn-danger btn-sm m-2" value="remove">Remove</button>
                                            </form>
                                        </div>
                                        <table>
                                            <h6 class="card-text">Comments:</h6>
                                            <tr th:each="comments : ${messagesList}" th:object="${comments}"
                                                th:if="${posts.getPostID() == comments.getCommentID()}">
                                                <p>
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h6 th:type="text"
                                                        th:text="${comments.getName()+':'}"></h6>
                                                    <small th:type="text"
                                                           th:text="${comments.getMessageDate()}"></small>
                                                </div>
                                                <small class="mb-1" th:type="text"
                                                       th:text="${comments.messageText}"></small>
                                                </p>
                                                <div class="d-flex flex-row-reverse">
                                                    <form th:if="${userId == comments.getUserId()}"
                                                          th:action="@{/deleteMessage}"
                                                          method="post" th:object="${comments}">
                                                        <input type="hidden" name="messageID"
                                                               th:value="${comments.messageID}">
                                                        <button class="btn btn-danger btn-sm m-2" value="remove">Remove
                                                        </button>
                                                    </form>
                                                </div>
                                            </tr>
                                        </table>
                                        <h6 class="card-text">Add comment:</h6>
                                        <div>
                                            <form method="post" th:action="@{/addComment}" th:object="${newMessage}">
                                            <textarea class="form-control d-flex" aria-label="With textarea"
                                                      id="inputComment"
                                                      placeholder="Share your comments here..." th:required="required"
                                                      th:name="messageText"></textarea>
                                                <input type="hidden" th:name="postID" th:value="${posts.messageID}">
                                                <div class="d-flex flex-row-reverse">
                                                    <button type="button submit" class="btn btn-light btn-sm m-2">
                                                        Comment
                                                    </button>
                                                </div>
                                            </form>
                                        </div>

                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body">
                                <h4 class="card-text">Chat room</h4>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to
                                    additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>Thank you for checking</p>
        <p class="mt-5 mb-3 text-muted">&copy; JavaKRK22 Wojciech Radymski & Krystian Urbanik</p>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>