<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>Register new user</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link type="text/css" rel="stylesheet" href="register.css"/>

</head>

<body class="text-center">

<div class="h-100 d-flex justify-content-center align-items-center">
    <div class="h-100 row align-items-center">

        <form th:action="@{/register}" method="post" class="form-register" th:object="${newUser}">

            <h1 class="h3 mb-3 font-weight-normal" align="center">Register</h1>


            <label for="inputUsername" class="sr-only" >Name</label>
            <input type="text" id="inputUsername" class="form-control mt-1" placeholder="Name" th:required="required" th:name="name"/>

            <label for="inputSurname" class="sr-only" >Surname</label>
            <input type="text" id="inputSurname" class="form-control mt-1" placeholder="Surname" th:required="required" th:name="surname"/>

            <label for="inputEmail" class="sr-only" >Email</label>
            <input type="text" id="inputEmail" class="form-control mt-1" placeholder="Email" th:required="required" th:name="email"/>

            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control mt-1" placeholder="Password" th:required="required" th:name="password"/>

            <label for="inputBirthday" class="sr-only">Date of birth</label>
            <input type="date" id="inputBirthday" class="form-control mt-1" th:required="required" th:name="dateOfBirth" th:field="*{dateOfBirth}"/>

            <select class="form-control form-control mt-1 selectGender" th:name="gender">
                <option th:each="gender : ${T(sda.twitterAtSDA.model.Gender).values()}"
                th:value="${gender}"
                th:text="${gender}">

                </option>

            </select>

            <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Register</button>

            <p class="mt-5 mb-3 text-muted">&copy; JavaKRK22 Wojciech Radymski & Krystian Urbanik</p>
        </form>

    </div>

</div>
</body>

</html>
